modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev -H 0.0.0.0 -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "start", "-H", "0.0.0.0", "-p", "5000"]
build = ["pnpm", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_1aqJIr4BcAWTxL-00WTDaw_4kzX1ZKd"
NEXT_PUBLIC_SUPABASE_URL = "https://qkekxxhipsmsiytsnkow.supabase.co"
